.button {
    height: 2.4rem;
    width: 7.4rem;

    font-size: 1.4rem;
    line-height: 1.7rem;

    border: 1px solid $c-gray-4D;
    border-radius: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}