.sign-in,
.sign-up {
    grid-column: content-s/content-e;
    grid-row: content-s/content-e;
}

.sign-in-form,
.sign-up-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &__fullname {
        margin-top: 7.7rem;
    }

    &__unit,
    &__email-sign-up,
    &__password {
        margin-top: 4rem;
    }

    &__email-sign-in {
        margin-top: 7.7rem;
    }

    &__form-button {
        grid-column: input-s/input-e;
        
        margin-top: 8.8rem;
    }

    &__text-links {
        margin-top: 5.2rem;

        grid-column: input-s/input-e;
    }

    &__fullname,
    &__unit,
    &__email-sign-up,
    &__email-sign-in,
    &__password {
        grid-column: input-s/input-e;

        transform: translateX(-64.5px);
    }
}