// INPUTS
.form-input,
.form-textarea {
    width: 100%;

    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: 1fr;

    justify-content: center;
    align-items: center;

    &__title {
        grid-column: 1/2;
        grid-row: 1/-1;
    }

    &__input {
        grid-column: 2/3;
        grid-row: 1/-1;
    }
}

.form-input,
.form-textarea {
    &__title {
        @include red-title;
    }

    &__input {
        height: 4rem;
        width: 100%;

        padding-left: 2rem;

        font-size: 1.6rem;
        font-weight: 500;

        border: 1px solid $c-gray-E6;
        border-radius: .5rem;
    }
}

.form-textarea {
    &__title {
        align-self: start;
    }

    &__input {
        resize: none;

        height: 35.5rem;

        padding-top: 1rem;
    }
}

// BUTTON
.form-button,
.form-button-small {
    &__button {
        transition: all 0.2s ease;
        &:focus {
            outline: none;
        }
        &:active {
            transform: scale(0.95);
            transform: translateY(2.05);
        }
    }
}

.form-button {
    &__button {
        height: 4rem;
        width: 21.6rem;

        background: $c-red-C9;

        color: white;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;

        border-radius: 2rem;
    }
}

.form-button-small {
    &__button {
        height: 2.4rem;
        width: 7.4rem;

        background: white;

        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;

        border-radius: 1.6rem;
        border: 1px solid $c-gray-4D;
    }

    &__danger {
        background: $c-red-C9;

        color: white;

        border: 1px solid $c-red-C9;
    }
}

// IMAGE
.form-image {
    display: flex;
    flex-direction: column;

    &__title {
        @include red-title;

        margin-bottom: 2rem;
    }

    &__image {
        height: 13.7rem;
        width: 16rem;

        border: none;
    }
}