.newsletter-latest {
    grid-column: latest-s/latest-e;
    grid-row: s/e;

    border: 1px solid $c-gray-E6;
    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: [s] 958px [e];
    grid-template-rows: [s] 258px [m] 405px [e];

    & > * {
        grid-column: s/e;
    }

    &__title,
    &__image {
        grid-row: s/m;
        justify-self: center;
        align-self: center;
    }

    &__title {
        color: white;
        font-size: 4rem;
        font-weight: 500;
        line-height: 5rem;
        text-align: center;
    }

    &__image {
        z-index: -10;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    &__button {
        grid-column: s/e;
        grid-row: s/m;
        justify-self: end;
        align-self: end;

        margin-right: 1rem;
        margin-bottom: 1.2rem;
    }

    &__body {
        grid-row: m/e;

        p {
            margin: 6.3rem 6.05rem;

            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
}