.newsletter-box {
    height: 16rem;
    width: 16rem;

    color: $c-red-D7;

    border: 0.1rem solid $c-red-D7;
    border-radius: 0.5rem;

    display: grid;
    justify-items: center;

    &__day {
        align-self: end;

        font-size: 7rem;
        line-height: 8.1rem;
        margin-bottom: 1rem;
    }

    &__month-year {
        align-self: start;

        font-size: 2rem;
        line-height: 2.3rem;
    }
}