.requests {
    grid-column: requests-s/requests-e;
    grid-row: s/e;
    align-self: start;

    border: 1px solid $c-gray-E6;
    border-radius: 0.5rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);

    grid-row-gap: 2rem;
}