.requests-grid {
    grid-row: content-s/content-e;

    height: 100%;

    display: grid;
    grid-template-columns: [boxes-s] 16rem [boxes-e s requests-s] 960px [requests-e e];
    grid-template-rows: [button-s] 4.7rem [button-e s boxes-s] 1fr [boxes-e e];
    grid-column-gap: 6.1rem;
    justify-content: center;

    &__button {
        grid-column: requests-s/requests-e;
        grid-row: button-s/button-e;
        justify-self: end;
        align-self: center;
        
        margin-right: 1rem;
    }
}